@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #642E1A;
    background-color: #F3DF85;
    border-radius: 90px;
    border: none;
    padding: 10px;
    margin: 0 20px;
    flex-grow: 1;
}
.containerNav {
    display: flex;
    background-color: #FBF7E3;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    border-radius: 90px;
    flex-wrap: wrap;
}
.shop {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    flex-grow: 1.5;
    font-size: 22px;
    font-weight: bold;
}

